@model MainApp.BLL.Entities.ApplicationRoles

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-md-4 col-xs-3 border-primary mb-3">
    <div class="card mb-3" style="max-width: 640px; background-image: url('https://plus.unsplash.com/premium_photo-1677093905933-22469186a34b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover;">
        <div class="row g-0">
            <div class="rows-md-12">
                <div class="card-header text-white bg-info">
                    <p class="card-text">
                        <h5 class="card-title">
                            Details
                        </h5>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://plus.unsplash.com/premium_photo-1682693240723-8ee089214756?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""
                     style="object-fit:scale-down;
                            width:100%;
                            height:auto;
                            border: solid 1px #CCC">
            </div>
            <div class="col-md-10">
                <div class="card-body">

                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NormalizedName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NormalizedName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ConcurrencyStamp)
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-success" asp-action="Index">Back to roles</a>
</div>
