@using MainApp.BLL.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@using MainApp.Web.Services;
 
@{
    var user = await UserManager.GetUserAsync(User);
    var userFullName = "";
    if (user != null)
    {
        userFullName = $"{user.FirstName} {user.LastName}";
    }
}

@if (SignInManager.IsSignedIn(User))
{
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();

    <body>
        <div class="navigation">
            <ul>
                <li class="@(controller == "Home" ? "active" : "")">
                    <!-- https://youtu.be/P_A2kNpyQBs?t=937 -->
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>

                <li class="@(controller == "Trainer" ? "active" : "")">
                    <a asp-area="" asp-controller="Trainer" asp-action="Index">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="title">Trainers</span>
                    </a>
                </li>

                <li class="@(controller == "Event" ? "active" : "")">
                    <a asp-area="" asp-controller="Event" asp-action="Index">
                        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="title">Events</span>
                    </a>
                </li>

                <li class="@(controller == "User" ? "active" : "")">
                    <a asp-area="" asp-controller="User" asp-action="Index">
                        <span class="icon"><ion-icon name="people-circle"></ion-icon></span>
                        <span class="title">Users</span>
                    </a>
                </li>

                <li class="@(controller == "Activity" ? "active" : "")">
                    <a asp-area="" asp-controller="Activity" asp-action="Index">
                        <span class="icon"><ion-icon name="accessibility-outline"></ion-icon></span>
                        <span class="title">Activity</span>
                    </a>
                </li>
            </ul>
        </div>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">
        </script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js">
        </script>

        <script>
            let menuToogle = document.querySelector('.toogle');
            let navigation = document.querySelector('.navigation');
            menuToogle.onclick = function () {
            menuToogle.classList.toggle('active');
            navigation.classList.toggle('active');
            }

            let list = document.querySelectorAll('.list');
            for (let i = 0; i < list.length; i++) {
            list[i].onclick = function () {
            let j = 0;
            while (j < list.length) {
            list[j++].className = 'list';
            }
            list[i].className = 'list active';
            }
            }
        </script>
    </body>
}



<div class="container-fluid">

    <ul class="navbar-nav flex-grow-1">

        @if (SignInManager.IsSignedIn(User))
        {


            bool isAdmin = await SignInManager.UserManager.IsInRoleAsync(user, "Admin");

            bool isLoggin = User.Identity.IsAuthenticated;

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house "></i>
                    Home
                </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded"  style="background-color: darkseagreen"  asp-area="" asp-controller="Trainer" asp-action="Index">
                    <i class="bi bi-people"></i>
                    Trainers
                </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="event" asp-action="Index">
                        <i class="bi bi-menu-button-wide-fill"></i>
                        Events
                    </a>
            </li>

            <li>
                   <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="claim" asp-action="Index">
                           <i class="bi bi-menu-button-wide-fill"></i>
                           Claims
                   </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="userrole" asp-action="Index">
                    <i class="bi bi-menu-button-wide-fill"></i>
                    User roles
                </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="role" asp-action="Index">
                    <i class="bi bi-menu-button-wide-fill"></i>
                    Roles
                </a>
            </li>
         }
     </ul>
 </div>
