@using MainApp.BLL.Entities
@using MainApp.BLL.Enums;
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IConfiguration Configuration
@model MainApp.BLL.Models.LoginView
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

@{
    var defaultprovider = @Configuration["DatabaseProvider"];
    var user = await UserManager.GetUserAsync(User);
    var userFullName = "";

    string provider = "Nie wybrano!";
    int number;
    bool success = int.TryParse(Model.ProviderName, out number);
    if (success)
    {
        provider = Enum.GetName(typeof(Provider), number);
    }
    else
    {
        provider = Model.ProviderName;
    }

    if (user != null)
    {
        userFullName = $"{user.FirstName} {user.LastName} {provider}";
    }

    var incomeList = Html.GetEnumSelectList<Provider>().Where(l => int.Parse(l.Value) >= 0).ToList();
    var categoryList = new List<SelectListItem>();
    categoryList = incomeList;
}

<environment names="Production">
    <h1 class="display-4">Presentation version</h1>
</environment>

<environment names="Development">
    <h1 class="display-4">Develop version @userFullName</h1>
            <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProviderName" class="control-label"></label>
                            <select asp-for="ProviderName" id="categorySelect" asp-items="categoryList" class="form-control">
                        <option selected="selected">@provider</option>
                    </select>
                    <span asp-validation-for="ProviderName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            </div>
        </div>
</environment>

<h2> @ViewBag.Test</h2>
<h2> @ViewData["Provider"]</h2>
<h2> @TempData["Provider"]</h2>


<div class="text-center bg-transparent">

    @if (!SignInManager.IsSignedIn(User))
    {
        <h3 class="card-title font-weight-bold col">Welcome @userFullName (@provider)</h3>
        <a class="btn btn-primary" asp-controller="account" asp-action="Login">Go to login</a>
        <hr />
        <div class="card bg-dark text-white">
          <img class="card-img" src="https://images.unsplash.com/photo-1556742044-3c52d6e88c62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image">     
          <div class="card-img-overlay">
            <h5 class="card-title">Register or login</h5>
            <p class="card-text">Web api with MVC project</p>
          </div>
            <div class="container mt-3">
                 <div class="container">
                      <div class="row">
                           <div class="col">
                                <img class="shape-circle-image" alt="Image placeholder" src="~/mm.jpg"> 
                                     <div class="shape__name">
                                        Author : Mariusz Malec
                                    </div>
                            </div>
                     </div>
                 </div>
            </div> 
        </div>
    }
</div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row shadow-lg">
            <div class="col-sm-6">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Trainers</h5>
                <p class="card-text">Trainers of InfoShare</p>
                <a class="btn btn-primary" asp-controller="Trainer" asp-action="Index">Go to trainer list</a>
              </div>
            </div>

            <div class="col-sm-6">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1540539234-c14a20fb7c7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Events top 20</h5>
                <p class="card-text">There is activity of users</p>
                <a class="btn btn-primary" asp-controller="event" asp-action="Index">Go to activity list</a>
              </div>
            </div>       
        </div>
    }